---
import type { ColorName } from "../types/colors.types";
import { darkColorText, lightColorBg } from "../utils/colors";

interface Props {
  heading: string;
  color: ColorName;
}
const { heading, color } = Astro.props;
const bg = lightColorBg(color);
const text = darkColorText(color);
---

<div class={`${bg} ${text}`}>
  <div class="p-10">
    <h4
      class="font-bold text-6xl text-center mb-3 w-5/6 md:w-3/5 xl:w-1/2 m-auto"
    >
      {heading}
    </h4>
    <slot />
  </div>
</div>
