---
interface Props {
  src: string;
  alt: string;
  className?: string;
  imageClassName?: string;
}
const { src, alt, className, imageClassName } = Astro.props;
---

<div class={className}>
  <img
    src={src}
    alt={alt}
    class={`${imageClassName} rounded-lg shadow-md hover:shadow-lg transition-all duration-500`}
  />
</div>
