---
import Button from "./Button.astro";

interface Props {
  href: string;
  bg: string;
  type?: "ghost" | "solid";
}
const { href, type, bg } = Astro.props;

const style =
  type === "ghost"
    ? `inline-flex self-start w-auto px-4 py-2 hover:text-white rounded-full hover:bg-${bg}-900 transition-all duration-500 ease-in-out`
    : `inline-flex self-start w-auto px-4 py-2 text-white rounded-full bg-${bg}-900 hover:bg-slate-900 transition-all duration-500 ease-in-out`;
---

<a class={style} href={href}><Button><slot /></Button></a>
