---
import type { ColorText } from "../../types/colors.types";

interface Props {
  color: ColorText;
  className?: string;
}
const { color, className } = Astro.props;
---

<h1 class={`font-bold text-6xl ${color} ${className}`}>MONTEL</h1>
