---
import Link from "../Link.astro";

const links = [
  {
    name: "Domů",
    link: "/",
  },
  {
    name: "Babybox",
    link: "/babybox",
  },
  {
    name: "Tepelná čerpadla",
    link: "/babybox",
  },
  {
    name: "Kamerový systém",
    link: "/babybox",
  },
  {
    name: "O nás",
    link: "/babybox",
  },
  {
    name: "Kontakt",
    link: "/babybox",
  },
];
---

<nav class="w-screen pt-14 mb-24">
  <div class="container w-11/12 m-auto flex h-100 justify-between items-center">
    <h1 class="font-bold text-6xl">MONTEL</h1>
    <div class="flex gap-x-5 items-center">
      {
        links.map((l) => (
          <Link href={l.link} type="ghost">
            {l.name}
          </Link>
        ))
      }
    </div>
  </div>
</nav>
