---
const links = [
  {
    name: "Domů",
    link: "/",
  },
  {
    name: "Babybox",
    link: "/babybox",
  },
];
---

<nav class="bg-slate-100/80 w-screen backdrop-blur-md fixed">
  <div class="container w-2/3 m-auto flex h-100 justify-between items-center">
    <h1 class="font-black text-2xl ml-5">MONTEL</h1>
    <div class="flex gap-x-2 items-center mr-5 divide-x">
      {
        links.map((l) => (
          <a
            class="px-5 py-3 hover:text-blue-600 font-semibold transition-all duration-300 ease-in-out"
            href={l.link}
          >
            <span>{l.name}</span>
          </a>
        ))
      }
    </div>
  </div>
</nav>
