---
import Link from "../Link.astro";
import MONTEL from "../MONTEL.astro";

interface Props {
  bg: string;
}

const { bg } = Astro.props;

const links = [
  {
    name: "Domů",
    link: "/",
  },
  {
    name: "Babybox",
    link: "/babybox",
  },
  {
    name: "Tepelná čerpadla",
    link: "/cerpadla",
  },
  {
    name: "Kamerový systém",
    link: "/kamery",
  },
  {
    name: "Elektro",
    link: "/elektro",
  },
  {
    name: "O nás",
    link: "/onas",
  },
  {
    name: "Kontakt",
    link: "/kontakt",
  },
];
---

<nav class="w-screen pt-14 mb-24">
  <div class="container w-11/12 m-auto flex h-100 justify-between items-center">
    <MONTEL color={`text-${bg}-900`} />
    <div class="flex gap-x-5 items-center">
      {
        links.map((l) => (
          <Link href={l.link} type="ghost" bg={bg}>
            {l.name}
          </Link>
        ))
      }
    </div>
  </div>
</nav>
