---
import Layout from "../layouts/Layout.astro";
import BigSection from "../components/sections/BigSection.astro";
import servisImage from "../images/servis.jpg";
import servis1Image from "../images/servis1.jpg";
import servis2Image from "../images/servis2.jpg";
import servis3Image from "../images/servis3.jpg";
import servis4Image from "../images/servis4.jpg";
import servis5Image from "../images/servis5.jpg";
import MyImage from "../components/elements/MyImage.astro";
import CenterSection from "../components/sections/CenterSection.astro";
import PillsSection from "../components/sections/PillsSection.astro";

const bg = "indigo";
const text = "indigo";
---

<Layout title="MONTEL" bg={bg} text={text}>
  <BigSection
    slot="header"
    color={bg}
    heading="Odborný servis a pneuservis pro všechna vozidla, od malých automobilů po velké nákladní vozy."
    image={{
      image: servisImage,
      alt: "placeholder",
      className: "max-h-[500px] w-auto mx-auto",
    }}
    links={[{ href: "#offering", text: "Co nabízíme?" }]}
  />

  <div id="offering"></div>
  <CenterSection heading="Nabízíme" color="white" space="md">
    <div class="md:w-3/5 w-11/12 mx-auto flex flex-col gap-2">
      <p>
        V našem autoservisu nabízíme širokou škálu služeb zaměřených na vaše
        vozidla. Specializujeme se na důkladné <strong
          >opravy motorů a převodovek</strong
        >, což zajišťuje jejich spolehlivý a dlouhodobý chod. Kromě toho
        provádíme
        <strong>diagnostiku a nastavení řídících jednotek</strong> pro optimální
        výkon vozidla. Majitelům nákladních vozidel nabízíme také, a to <strong
          >výměnu svislých čepů</strong
        >. Ať už potřebujete <strong>běžnou opravu, pravidelnou údržbu</strong>
         osobního či nákladního vozidla, jsme zde pro vás. Naše služby také
        zahrnují <strong>výměnu skel</strong> a komplexní péči o pneumatiky
        včetně <strong>osobního pneuservisu a nákladního pneuservisu</strong> až
        do velikosti 56 palců.
      </p>
    </div>
    <div class="flex flex-row flex-wrap justify-center gap-10 mt-10">
      <MyImage
        image={{
          image: servis1Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: servis2Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: servis3Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: servis4Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: servis5Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
    </div>
  </CenterSection>

  <CenterSection heading="Naše hlavní výbava" color={bg}>
    <PillsSection
      className="lg:w-8/12 mt-10"
      pills={[
        {
          title: "Osvětlená temperovaná dílna 250m2",
          color: "indigo-300",
        },
        {
          title: "Montážní jáma 12m",
          color: "indigo-300",
        },
        {
          title: "Elektro-hydraulický jámový zvedák 12t",
          color: "indigo-300",
        },
        {
          title: "Halový jeřáb 3t",
          color: "indigo-300",
        },
        {
          title: "Hydraulický lis 50t",
          color: "indigo-300",
        },
        {
          title: "Svařovací souprava MIG 320A",
          color: "indigo-300",
        },
        {
          title: "Svařovací souprava AC/DC TIG 200A",
          color: "indigo-300",
        },
        {
          title: "Autogen",
          color: "indigo-300",
        },
        {
          title: "Nákladní optická geometrie",
          color: "indigo-300",
        },
        {
          title: "Zvedák 3t",
          color: "indigo-300",
        },
        { title: "Nákladní zouvačka do 56”", color: "indigo-300" },
        {
          title: "Nákladní vyvažovačka",
          color: "indigo-300",
        },
        {
          title: "Osobní zouvačka",
          color: "indigo-300",
        },
        {
          title: "Osobní vyvažovačka",
          color: "indigo-300",
        },
        {
          title: "Osobní diagnostika Bosch",
          color: "indigo-300",
        },
        {
          title: "Nákladní diagnostika Bosch",
          color: "indigo-300",
        },
        {
          title: "Univerzální soustruh SU32",
          color: "indigo-300",
        },
        {
          title: "Elektronická stolice pro alternátory a startéry",
          color: "indigo-300",
        },
        {
          title: "Tester regulátoru alternátoru",
          color: "indigo-300",
        },
        {
          title: "Digitální osciloskop",
          color: "indigo-300",
        },
      ]}
    />
  </CenterSection>
</Layout>
