---
import Layout from "../layouts/Layout.astro";
import BigSection from "../components/sections/BigSection.astro";
import autoUvodImage from "../images/autouvod.jpg";
import autod1Image from "../images/autod1.jpg";
import autod2Image from "../images/autod2.jpg";
import autod3Image from "../images/autod3.jpg";
import autod4Image from "../images/autod4.jpg";
import autod5Image from "../images/autod5.jpg";
import auto1Image from "../images/auto1.jpg";
import auto2Image from "../images/auto2.jpg";
import auto3Image from "../images/auto3.jpg";
import auto4Image from "../images/auto4.jpg";
import auto5Image from "../images/auto5.jpg";
import auto6Image from "../images/auto6.jpg";
import auto7Image from "../images/auto7.jpg";
import auto8Image from "../images/auto8.jpg";
import auto9Image from "../images/auto9.jpg";
import auto10Image from "../images/auto10.jpg";
import auto11Image from "../images/auto11.jpg";
import auto12Image from "../images/auto12.jpg";
import auto13Image from "../images/auto13.jpg";
import auto14Image from "../images/auto14.jpg";

import MyImage from "../components/elements/MyImage.astro";
import CenterSection from "../components/sections/CenterSection.astro";
import PillsSection from "../components/sections/PillsSection.astro";

const bg = "indigo";
const text = "indigo";
---

<Layout title="Autoservis a Pneuservis - Zdeněk Juřica - MONTEL" bg={bg} text={text} description="Odborný servis a pneuservis pro všechna vozidla, od malých automobilů po velké nákladní vozy." keywords="Zdeněk Juřica, MONTEL, autoservis, pneuservis, diagnostika, diagnostika aut, oprava auta, oprava nákladních aut, oprava nákladního auta, oprava náklaďáku, oprava agrokulturních vozidel, montáž auta, servis auta, výměna náhradních dílů, výměna pneumatik">
  <BigSection
    slot="header"
    color={bg}
    heading="Odborný servis a pneuservis pro všechna vozidla, od malých automobilů po velké nákladní vozy."
    image={{
      image: autoUvodImage,
      alt: "placeholder",
      className: "max-h-[500px] w-auto mx-auto",
    }}
    links={[{ href: "#offering", text: "Co nabízíme?" }]}
  />

  <div id="offering"></div>
  <CenterSection heading="Nabízíme" color="white" space="md">
    <div class="md:w-3/5 w-11/12 mx-auto flex flex-col gap-2">
      <p>
        V našem autoservisu nabízíme širokou škálu služeb zaměřených na vaše
        vozidla. Specializujeme se na důkladné <strong
          >opravy motorů a převodovek</strong
        >, což zajišťuje jejich spolehlivý a dlouhodobý chod. Kromě toho
        provádíme
        <strong>diagnostiku a nastavení řídících jednotek</strong> pro optimální
        výkon vozidla. Majitelům nákladních vozidel nabízíme také, a to <strong
          >výměnu svislých čepů</strong
        >. Ať už potřebujete <strong>běžnou opravu, pravidelnou údržbu</strong>
         osobního či nákladního vozidla, jsme zde pro vás. Naše služby také
        zahrnují <strong>výměnu skel</strong> a komplexní péči o pneumatiky
        včetně <strong>osobního pneuservisu a nákladního pneuservisu</strong> až
        do velikosti 56 palců.
      </p>
    </div>
    <div class="flex flex-row flex-wrap justify-center gap-10 mt-10">
      <MyImage
        image={{
          image: autod1Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: autod2Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: autod3Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: autod4Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: autod5Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
    </div>
  </CenterSection>

  <CenterSection heading="Naše hlavní výbava" color={bg}>
    <PillsSection
      className="lg:w-8/12 mt-10 text-center"
      pills={[
        {
          title: "Osvětlená temperovaná dílna 250m2",
          color: "indigo-300",
        },
        {
          title: "Montážní jáma 12m",
          color: "indigo-300",
        },
        {
          title: "Elektro-hydraulický jámový zvedák 12t",
          color: "indigo-300",
        },
        {
          title: "Halový jeřáb 3t",
          color: "indigo-300",
        },
        {
          title: "Hydraulický lis 50t",
          color: "indigo-300",
        },
        {
          title: "Svařovací souprava MIG 320A",
          color: "indigo-300",
        },
        {
          title: "Svařovací souprava AC/DC TIG 200A",
          color: "indigo-300",
        },
        {
          title: "Autogen",
          color: "indigo-300",
        },
        {
          title: "Nákladní optická geometrie",
          color: "indigo-300",
        },
        {
          title: "Zvedák 3t",
          color: "indigo-300",
        },
        { title: "Nákladní zouvačka do 56”", color: "indigo-300" },
        {
          title: "Nákladní vyvažovačka",
          color: "indigo-300",
        },
        {
          title: "Osobní zouvačka",
          color: "indigo-300",
        },
        {
          title: "Osobní vyvažovačka",
          color: "indigo-300",
        },
        {
          title: "Osobní diagnostika Bosch",
          color: "indigo-300",
        },
        {
          title: "Nákladní diagnostika Bosch",
          color: "indigo-300",
        },
        {
          title: "Univerzální soustruh SU32",
          color: "indigo-300",
        },
        {
          title: "Elektronická stolice pro alternátory a startéry",
          color: "indigo-300",
        },
        {
          title: "Tester regulátoru alternátoru",
          color: "indigo-300",
        },
        {
          title: "Digitální osciloskop",
          color: "indigo-300",
        },
      ]}
    />
  </CenterSection>

  <CenterSection heading="Galerie" color="white">
    <div class="flex flex-row flex-wrap justify-center gap-10 mt-10">
      <MyImage
        image={{
          image: auto1Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto2Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto3Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto4Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto5Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto6Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto7Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto8Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto9Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto10Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto11Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto12Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto13Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
      <MyImage
        image={{
          image: auto14Image,
          alt: "cerpadlo",
          className: "max-h-[220px]",
        }}
      />
    </div>
  </CenterSection>
</Layout>
