---
import CenterSection from "../components/sections/CenterSection.astro";
import SectionStripe from "../components/sections/SectionStripe.astro";
import SmallCard from "../components/elements/SmallCard.astro";
import ChildrenByHour from "../components/babybox/charts/ChildrenByHour";
import ChildrenByDay from "../components/babybox/charts/ChildrenByDay";
import ChildrenByMonth from "../components/babybox/charts/ChildrenByMonth";
import ChildrenByYear from "../components/babybox/charts/ChildrenByYear";
import ChildrenTotal from "../components/babybox/charts/ChildrenTotal";
import Layout from "../layouts/Layout.astro";
import BigSection from "../components/sections/BigSection.astro";
import PillsSection from "../components/sections/PillsSection.astro";

const bg = "pink";
const text = "pink";
---

<Layout title="MONTEL" bg={bg} text={text}>
  <BigSection
    slot="header"
    color={bg}
    heading="Pro ty nejmenší v nouzi ostrůvek bezpečí vždy čeká, nesouc naději v těžkých chvílích."
    links={[
      { href: "#offering", text: "O Babyboxu" },
      { href: "#stats", text: "Statistiky" },
    ]}
  />

  <div>
    <CenterSection color="white" heading="Funkce">
      <PillsSection
        className={"lg:w-3/4 mt-8"}
        pills={[
          {
            title: "Automatické dvířka",
            color: "blue-900",
          },
          {
            title: "Detekce zábrany dvířek",
            color: "blue-900",
          },
          {
            title: "Automatická regulace teploty",
            color: "blue-900",
          },
          {
            title: "Klimatizace",
            color: "blue-900",
          },
          {
            title: "Vytápění",
            color: "blue-900",
          },
          {
            title: "Nerezový materiál",
            color: "blue-900",
          },
          {
            title: "24/7 Monitoring",
            color: "rose-900",
          },
          {
            title: "Kamera uvnitř Babyboxu",
            color: "rose-900",
          },
          {
            title: "SMS Upozornění",
            color: "rose-900",
          },
          {
            title: "Emailová notifikace",
            color: "rose-900",
          },
          {
            title: "Vzdálená analýza dat",
            color: "green-900",
          },
          {
            title: "Vzdálená správa babyboxu",
            color: "green-900",
          },
        ]}
      />
    </CenterSection>

    <SectionStripe
      align="left"
      color="indigo"
      heading="Babybox"
      image={{ src: "http://placehold.co/640x360", alt: "" }}
    >
      Babyboxy, umístěné v nemocnicích daného regionu, představují záchranný bod
      pro ty, kteří se ocitnou v hluboké životní nouzi. Toto diskrétní řešení
      nabízí rodičům ve špatné životní situaci možnost zanechat své novorozence
      v bezpečném a regulovaném prostředí, když cítí, že nemohou poskytnout
      dítěti odpovídající péči. Díky moderním technologiím babyboxy zajišťují
      nepřetržitý dohled, pohodlí a teplotní regulaci pro miminka. Tímto
      způsobem nemocnice ukazuje svůj hluboký závazek k ochraně a podpoře těch
      nejzranitelnějších členů regionu v kritických chvílích jejich života.
    </SectionStripe>

    <SectionStripe
      align="right"
      color="pink"
      heading="Rozvadec"
      image={{ src: "http://placehold.co/640x360", alt: "" }}
    >
      Rozváděč v nemocnici je klíčový pro optimální fungování babyboxu. Obsahuje
      akumulátor, který přebírá napájení při výpadku elektrické energie. Router
      zajišťuje stálé připojení k internetu a komunikaci s monitorovacím
      panelem. GSM komunikátor, který v případě potřeby rozesílá SMS zprávy jako
      upozornění, poskytuje další vrstvu zabezpečení. Vše je napájeno z 12V
      zdroje.
    </SectionStripe>

    <SectionStripe
      align="left"
      color="indigo"
      heading="Monitorovaci panel"
      image={{ src: "http://placehold.co/640x360", alt: "" }}
    >
      <p>
        V nemocnici je umístěn monitorovací panel, primárně navržený pro
        sledování obsahu babyboxu. Jakmile je zatížena vanička babyboxu, obsluha
        je okamžitě upozorněna. Díky integrované kameře může obsluha v reálném
        čase vidět, zda je v babyboxu dítě, a okamžitě zasáhnout.
      </p>
      <p class="mt-3">
        Panel také zobrazuje další důležité informace, jako je teplota uvnitř
        boxu, napětí systému a stav dvířek. Jakékoli odchylky nebo neobvyklé
        události generují upozornění, což zajišťuje, že dítě v babyboxu má
        neustálou péči a dohled.
      </p>
    </SectionStripe>

    <CenterSection heading="Statistiky" color="pink">
      <h3 class="text-xl text-center font-bold mt-5">Počet dětí</h3>
      <ChildrenTotal client:load />

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí v jednotlivých letech
      </h3>
      <ChildrenByYear client:load />

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí podle měsíce
        <ChildrenByMonth client:load />
      </h3>

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí podle dne v týdnu
      </h3>
      <ChildrenByDay client:load />

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí podle času odložení
      </h3>
      <ChildrenByHour client:load />
    </CenterSection>
  </div>
</Layout>
