---
import Layout from "../layouts/Layout.astro";
import dopravaImage from "../images/doprava.jpg";
import dopravaArealImage from "../images/dopravaareal.jpg";
import BigSection from "../components/sections/BigSection.astro";
import Email from "../components/elements/Email.astro";
import MyImage from "../components/elements/MyImage.astro";
import CenterSection from "../components/sections/CenterSection.astro";

const bg = "cyan";
const text = "cyan";
---

<Layout title="Nákladní doprava - Zdeněk Juřica - MONTEL" bg={bg} text={text} description="Na cestách již léta: Podívejte se na naši dlouhou tradici v nákladní dopravě." keywords="Zdeněk Juřica, MONTEL, nákladní doprava, transport, zkušenost v dopravě, poptávka práce">
  <BigSection
    slot="header"
    color={bg}
    heading="Na cestách již léta: Podívejte se na naši dlouhou tradici v nákladní dopravě."
    image={{ image: dopravaImage, alt: "Nákladní auto", width: "600" }}
  />

  <div id="offering"></div>
  <CenterSection heading="Nabízíme" color="white" space="lg">
    <p class="md:w-3/5 w-11/12 mx-auto">
      Naše nákladní doprava je zaměřena na poskytování služeb logistickým
      společnostem, se zaměřením na rozvoz a svoz kusových zásilek, zejména
      paletového zboží. V našem vozovém parku disponujeme valníkovými a
      skříňovými vozidly zn. MAN, s ložnou plochou 15 – 17 europalet, všechny
      vozidla jsou vybavena hydraulickou zdvihací plošinou. Uvítáme nabídku
      práce, zejména od zákazníka, který dokáže ocenit stálý a precizní přístup
      k této práci.
    </p>
    <div class="flex flex-row flex-wrap justify-center gap-10 mt-10">
      <MyImage
        image={{
          image: dopravaArealImage,
          alt: "Parkoviště pro na našem areálu pro parkovaní",
          width: "500",
          className: "max-h-[240px]",
        }}
      />
    </div>
  </CenterSection>

  <CenterSection heading="Ozvěte se nám!" color="cyan">
    <div class="text-center">
      <p>Konzultace a nabídka:</p>
      <p>+420 561 035 488</p>
      <p>
        <Email email="recepce@jurica-montel.cz" color={text} />
      </p>
    </div>
  </CenterSection>
</Layout>

<style>
  .word-wider {
    word-spacing: 5px;
  }
</style>
