---
import Layout from "../layouts/Layout.astro";
import BigSection from "../components/sections/BigSection.astro";
import fotovoltaikaImage from "../images/fotovoltaika.jpg";
import CenterSection from "../components/sections/CenterSection.astro";
import MyImage from "../components/elements/MyImage.astro";
import fotovoltaikaVelkaImage from "../images/fotovoltaika_velka.jpg";
import fotovoltaika3Image from "../images/fotovoltaika3.jpg";
import fotovoltaikaInstalaceImage from "../images/fotovoltaika_instalace.jpg";
import fotovoltaikaInstalace2Image from "../images/fotovoltaika4.jpg";
import fotovoltaikaInstalace3Image from "../images/fotovoltaika5.jpg";
import stridacImage from "../images/stridac.jpg";
import Email from "../components/elements/Email.astro";

const bg = "emerald";
const text = "emerald";

---

<Layout title="Fotovoltaika - Zdeněk Juřica - MONTEL" bg={bg} text={text} description="Investujte do fotovoltaiky a užívejte si dlouhodobé úspory a čistou energii pro váš domov." keywords="Zdeněk Juřica, MONTEL, fotovoltaika, solární panely, střídač, baterie, montáž fotovoltaiky, dotace fotovoltaiky, udržitelná energie, konstrukce fotovoltaika, instalace fotovoltaika, sustainability">
  <BigSection
    slot="header"
    color={bg}
    heading="Investujte do fotovoltaiky a užívejte si dlouhodobé úspory a čistou energii pro váš domov."
    image={{
      image: fotovoltaikaInstalaceImage,
      alt: "placeholder",
      className: "max-h-[500px] w-auto mx-auto",
    }}
    links={[{ href: "#offering", text: "Co nabízíme?" }]}
  />

  <div id="offering"></div>
  <CenterSection heading="Nabízíme" color="white" space="md">
    <div class="md:w-3/5 w-11/12 mx-auto flex flex-col gap-2">
      <p>
        Montáže fotovoltaických elektráren jsme se rozhodli zařadit do našich
        služeb kvůli vzniklé energetické krizi v kombinaci s nedostatečnou a
        předraženou nabídkou montážních firem. Ozvalo se nám také mnoho
        zákazníků, kteří chtěli již hotovou elektrárnu předělat, z důvodu
        nedostatečného výkonu panelů a baterií. V současné době montujeme ve
        většině případů <strong
          >FVE o výkonu 6 - 50kW s bateriemi 10 - 50kW</strong
        >.
      </p><p>
        Hlavní součásti, střídače a baterie používáme od výrobců Solax
        a SofarSolar. Panely používáme, aby byly nejvýhodnější pro <strong>požadovaný
        výkon, sklon, orientaci a rozměr střechy</strong>.
      </p><p>
        Konstrukce pro uchycení ke střeše si vyrábíme sami, přesně na míru, z
        kvalitních nerezových materiálů. Instalaci provádíme včetně předělání
        domovního a elektroměrového rozvaděče.
      </p>
      <p>
        Taktéž pomůžeme zajistit vyřízení dotace, připojení k síti a následný výkup
        přebytečné energie.
      </p>
      <div class="flex flex-row flex-wrap justify-center gap-10 mt-10">
        <MyImage
          image={{
            image: fotovoltaikaImage,
            alt: "cerpadlo",
            className: "max-h-[220px]",
          }}
        />
        <MyImage
          image={{
            image: fotovoltaikaVelkaImage,
            alt: "cerpadlo",
            className: "max-h-[220px]",
          }}
        />
        <MyImage
          image={{
            image: fotovoltaikaInstalace3Image,
            alt: "cerpadlo",
            className: "max-h-[220px]",
          }}
        />
        <MyImage
          image={{
            image: fotovoltaika3Image,
            alt: "cerpadlo",
            className: "max-h-[220px]",
          }}
        />
        <MyImage
          image={{
            image: fotovoltaikaInstalace2Image,
            alt: "cerpadlo",
            className: "max-h-[220px]",
          }}
        />
        <MyImage
          image={{
            image: stridacImage,
            alt: "cerpadlo",
            className: "max-h-[220px]",
          }}
        />
      </div>
    </div>
  </CenterSection>
  
  <CenterSection heading="Postup instalace" color="emerald">
    <div class="flex flex-row flex-wrap gap-10 justify-between mt-10">
      <div class="flex flex-col text-center flex-1 min-w-[140px] mx-auto">
        <span class="font-bold text-3xl">1.</span>Odborná konzultace a návrh řešení
      </div>
      <div class="flex flex-col text-center flex-1 min-w-[140px] mx-auto">
        <span class="font-bold text-3xl">2.</span>
        Analýza střechy a plán instalace solárního systému
      </div>
      <div class="flex flex-col text-center flex-1 min-w-[140px] mx-auto">
        <span class="font-bold text-3xl">3.</span>
        Montáž pevné konstrukce pro solární panely
      </div>
      <div class="flex flex-col text-center flex-1 min-w-[140px] mx-auto">
        <span class="font-bold text-3xl">4.</span>
        Instalace vysokovýkonných solárních panelů
      </div>
      <div class="flex flex-col text-center flex-1 min-w-[140px] mx-auto">
        <span class="font-bold text-3xl">5.</span>
        Spolehlivé připojení k elektrické síti a testování
      </div>
      <div class="flex flex-col text-center flex-1 min-w-[140px] mx-auto">
        <span class="font-bold text-3xl">6.</span>
        Zprovoznění online monitoringu a mobilní aplikace
      </div>
      <div class="flex flex-col text-center flex-1 min-w-[140px] mx-auto">
        <span class="font-bold text-3xl">7.</span>
        Dokumentace a podpora při žádosti o dotace
      </div>
    </div>
  </CenterSection>

  <CenterSection heading="Konstrukce pro uchycení solárních panelů" color="white">
    <div class="md:w-3/5 w-11/12 mx-auto">
      <p>
        Umístění solárních panelů na střeše je klíčovým faktorem pro efektivitu celého solárního systému. Naše firma pečlivě vybírá orientaci a sklon panelů, aby byla zajištěna maximální absorpce sluneční energie. Vyrábíme konstrukce pro uchycení solárních panelů přesně na míru z kvalitních nerezových materiálů, což zaručuje jejich trvanlivost a odolnost vůči povětrnostním vlivům. Kromě toho provádíme kompletní instalaci, včetně domovního a elektroměrového rozvaděče, abychom zajistili bezproblémový chod vašeho solárního systému. Snažíme se poskytnout nejen energeticky efektivní, ale také spolehlivý a dlouhodobě udržitelný solární systém pro naše zákazníky.
      </p>
    </div>
  </CenterSection>

  <CenterSection heading="Dotace" color="emerald">
    <div class="md:w-3/5 w-11/12 mx-auto">
      <p>
        Na fotovoltaické systémy se v rámci projektu Nová zelená úsporám
        vypisují dotace, které je možné čerpat. Zpracujeme pro Vás také
        projekt, odborný posudek a pomůžeme vyřídít potřebnou administrativu
        nutnou pro získání dotace.
      </p>
    </div>
  </CenterSection>


  <CenterSection heading="Ozvěte se nám!" color="white">
    <div class="text-center">
      <p>Zarezervujte si bezplatnou konzultaci a nabídku:</p>
      <p>+420 561 035 488</p>
      <p>
        <Email email="recepce@jurica-montel.cz" color={text} />
      </p>
    </div>
  </CenterSection>
</Layout>
