---
import { renderJSX } from "astro/dist/runtime/server";
import Layout from "../layouts/Layout.astro";

const bg = "bg-cyan-100";
const color = "text-blue-900";
---

<Layout title="MONTEL" bg={bg} color={color}>
  <div slot="header"></div>
</Layout>
