---
import { renderJSX } from "astro/dist/runtime/server";
import Layout from "../layouts/Layout.astro";

const bg = "bg-cyan-100";
const color = "text-blue-900";
---

<Layout title="MONTEL" bg={bg} color={color}>
  <div slot="header" class="w-11/12 m-auto">
    <p class="text-7xl font-black w-9/12 tracking-wider word-wider">
      Jsme firma vyrabejici babyboxy a jeste dalsi text
    </p>
  </div>
</Layout>

<style>
  .word-wider {
    word-spacing: 5px;
  }
</style>
