---
import SmallCard from "../components/elements/SmallCard.astro";
import ContactSection from "../components/sections/contact/ContactSection.astro";
import Layout from "../layouts/Layout.astro";

const bg = "blue";
const text = "blue";
---

<Layout title="MONTEL" bg={bg} text={text}>
  <ContactSection slot="header" color={text} color2={"yellow"} />

  <div class="w-11/12 m-auto">
    <p class="text-7xl font-black w-9/12 tracking-wider word-wider">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="flex flex-wrap gap-5 justify-around mt-5 px-10">
      <SmallCard heading="Automaticke dvere" color="white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </SmallCard>
      <SmallCard heading="Vytapeni" color="white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </SmallCard>
      <SmallCard heading="Email" color="white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </SmallCard>
      <SmallCard heading="SMS" color="white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </SmallCard>
      <SmallCard heading="Automaticke dvere" color="white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </SmallCard>
    </div>
  </div>
</Layout>
