---
import Layout from "../layouts/Layout.astro";
import BigSection from "../components/sections/BigSection.astro";
import SmallCard from "../components/elements/SmallCard.astro";
import CenterSection from "../components/sections/CenterSection.astro";
import PillsSection from "../components/sections/PillsSection.astro";
import plosinaImage from "../images/plosina.jpg";
import plosina1Image from "../images/plosina1.jpg";
import plosina2Image from "../images/plosina2.jpg";
import MyImage from "../components/elements/MyImage.astro";
import Email from "../components/elements/Email.astro";

const bg = "indigo";
const text = "indigo";
---

<Layout
  title="Opravy zdvihacích plošin - Zdeněk Juřica - MONTEL"
  bg={bg}
  text={text}
  description="Ušetřete čas a peníze a využijte naší expertýzy v oblasti zdvihacích plošin."
  keywords="Zdeněk Juřica, MONTEL, Opravy zdvihacích plošin, nákladní doprava, oprava vozidel, náklaďák, oprava plošin, hydraulika, hydraulické plošiny, montáž, servis"
>
  <BigSection
    slot="header"
    color={bg}
    heading="Ušetřete čas a peníze a využijte naší expertýzy v oblasti zdvihacích plošin."
    image={{
      image: plosinaImage,
      alt: "Oprava zdvihací plošiny",
      width: "800",
    }}
    links={[{ href: "#offering", text: "Co nabízíme?" }]}
  />

  <div id="offering"></div>
  <CenterSection heading="Nabízíme" color="white" space="lg">
    <p class="md:w-3/5 w-11/12 mx-auto">
      Nabízíme kompletní servis v této oblasti. Víme, které součásti můžeme
      nahradit replikou a které musí být originální, tedy kde se dá ušetřit a
      kde ne. Operativně dokážeme vyřešit jakýkoliv problém a to i tehdy, pokud
      Vám vyhoří celý hydraulický agregát včetně řídící jednotky vlivem zkratu,
      nebo zaseknutého hlavního stykače motoru.
    </p>
    <div class="flex flex-row flex-wrap justify-center gap-10 mt-10">
      <MyImage
        image={{
          image: plosina1Image,
          alt: "Zdihací plošina",
          width: "500",
          className: "max-h-[240px]",
        }}
      />
      <MyImage
        image={{
          image: plosina2Image,
          alt: "Detail zdvihací plošiny",
          width: "500",
          className: "max-h-[240px]",
        }}
      />
    </div>
  </CenterSection>

  <CenterSection heading="Ozvěte se nám!" color="indigo">
    <div class="text-center">
      <p>Konzultace a nabídka:</p>
      <p>+420 561 035 488</p>
      <p>
        <Email email="recepce@jurica-montel.cz" color={text} />
      </p>
    </div>
  </CenterSection>
</Layout>
